<div ng-cloak ng-controller="kuvarCtrl">
	<div>
		<h1>Kuvar</h1>
	</div>

	<div>
		<div>
			<div id="tabs">
				<ul>
					<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0)"
						href=""><span>Kalendarski prikaz </span></a></li>
					<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
						href=""><span>Lista porudzbina</span></a></li>
					<li ng-class="{active: isSet(2)}"><a ng-click="setTab(2)"
						href=""><span>Izmeni podatke</span></a></li>
				</ul>
			</div>

			<div ng-show="isSet(0)">
				<h2>Kalendarski prikaz</h2>
			</div>


			<div ng-show="isSet(1)">
				<h2>Lista porudzbina</h2>
				<div name="listaPorudzbinaKonobar">
					<p>Spisak porudzbina</p>
					<select name="Spisak porudzbina" size="5">
						<option>Porudzbina 1</option>
						<option>Porudzbina 2</option>
						<option>Porudzbina 3</option>
					</select>
				</div>

				<div name="listaPrihvacenihPica">
					<p>Prihvacena pica</p>
					<select name="Prihvacena jela" size="5">
						<option>Pice 1</option>
						<option>Pice 2</option>
						<option>Pice 3</option>
					</select>
					<button ng-click="">Pice gotovo</button>
				</div>


			</div>

			<div ng-show="isSet(2)">
				<div>
					<h2>Izmenite podatke:</h2>
					<table>
						<tr>
							<td>Ime:</td>
							<td><input type=text ng-model="imeIzmena"></td>
						<tr>
						<tr>
							<td>Prezime:</td>
							<td><input type=text ng-model="prezimeIzmena"></td>
						<tr>
						<tr>
							<td>Email:</td>
							<td><input type=text ng-model="emailIzmena"></td>
						<tr>
					</table>
					<button ng-click="izmeniKuvaraPodaci()">Potvrdi izmene</button>
				</div>

				<div>
					<h2>Izmenite lozinku:</h2>
					<table>
						<tr>
							<td>Unesite staru lozinku:</td>
							<td><input type=text ng-model="staraLozinka"></td>
						<tr>
						<tr>
							<td>Unesite novu lozinku:</td>
							<td><input type=text ng-model="novaLozinka"></td>
						<tr>
						<tr>
							<td>Potvrdite novu lozinku:</td>
							<td><input type=text ng-model="novaLozinkaPotvrda"></td>
						<tr>
					</table>
					<button ng-click="">Sacuvaj lozinku</button>
				</div>

			</div>


		</div>
	</div>

</div>

